/* RESET-ish */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.01px;
}

body{
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    font-weight: 500;
} 

.qr-section{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.178);
}

.qr-section.hide{
    display: none;
}

.qr-card{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);
    padding: 20px 40px;
}

.pay-heading{
    text-align: center;
    font-size: 1.5rem;
}

.pay-amount{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.payment-success-link{
    border-radius: 10px;
    text-decoration: none;
    background-color: #0d6efd;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.pay-cancel-btn{
    border: 0;
    border-radius: 10px;
    text-align: center;
    background-color: #555;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.heading {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}

/* CART LIST */
.cart-items {
    width: 80%;
    margin: 40px auto;
}

/* SINGLE CART ROW */
.cart-item-card {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    gap: 30px;
}

/* IMAGE */
.cart-item-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

/* INFO SECTION */
.cart-item-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.name-price-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* NAME + PRICE */
.cart-item-name {
    flex: 2;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    margin: 0;
}

.cart-item-price {
    color: #555;
    margin-top: 6px;
}

/* QUANTITY CONTROLS */
.qtyWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.qtyWrapper span {
    font-size: 16px;
    min-width: 20px;
    text-align: center;
}

.qtyBtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.qtyBtn:hover {
    background-color: #000;
}

/* ITEM TOTAL */
.cart-item-info p:last-child {
    flex: 1;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
}

.remove-item-btn{
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
    background-color: #dc3545;
    color: #fff;
}

/* TOTAL SECTION */
.totalBox {
    color: #222;
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalBox h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* CHECKOUT BUTTON */
.checkout-btn {
    background-color: #1aa34a;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 300;
}

.checkout-btn:hover {
    background-color: #15803d;
}

@media (max-width: 499px) {
    .qr-card{
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 720px){
    .cart-item-card{
        flex-direction: column;
    }

    .cart-item-info{
        flex-direction: column;
        gap: 10px;
    }

    .cart-item-image{
        width: 150px;
        height: auto;
        aspect-ratio: 1;
    }
}