#menu-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: space-between;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.loader{
  width: 50px;
  height: 50px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 1s linear infinite;
}

.loader.none{
  display: none;
}

@keyframes loader {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.food-card {
  width: 22%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.food-card img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.food-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price {
  font-weight: bold;
}

.add-to-cart {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 10px;
  background: rgb(32, 30, 30);
  border: 0;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

.add-to-cart:hover {
  opacity: 0.9;
}


@media (max-width: 599px) {
  .food-card {
    width: 45%;
  }
}